/* App.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-header {
  background-color: #084f0a;
  color: white;
  padding: 20px;
  text-align: center;
}

.app-header h1 {
  margin: 0;
  font-size: 2em;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.map-container {
  width: 100%;
  height: 100%;
  flex: 1;
  position: relative;
}

.map {
  height: 100%;
  width: 100%;
}

.app-footer {
  background-color: #6e4503;
  color: white;
  text-align: center;
  padding: 10px;
}

.app-footer p {
  margin: 0;
  font-size: 0.9em;
}
